<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coches</title>
</head>
<body>
  <%- include('./shared/nav.ejs') %>
  <% for (let coche of coches) { %>
    <article>
      <h2><%= coche.marca %> <%= coche.modelo %></h2>
      <img src="<%= coche.imagen %>" alt="">
    </article>
  <% } %>
</body>
</html>