<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form method="POST">
    <input type="hidden" name="CSRFToken" value="<%= tokenCSRF %>" />
    <div>
      <label for="cuenta">Cuenta</label>
      <input type="text" id="cuenta" name="cuenta">
    </div>
    <div>
      <label for="cantidad">Cantidad</label>
      <input type="number" id="cantidad" name="cantidad">
    </div>
    <button type="submit">Transferir</button>
  </form>
</body>
</html>