<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Bienvenido <%= username %></h1>
  <a href="/nueva-transferencia">Nueva transferencia</a>

  <ul>
    <% for (let t of transferencias) { %>
      <li>Transferencia de <strong><%= username %></strong> a la cuenta <strong><%= t.cuenta %></strong> por una cantidad de <strong><%= t.cantidad %>€</strong></li>
    <% } %>
  </ul>
</body>
</html>